@import url('https://fonts.googleapis.com/css?family=Acme');
.nav-section,
.post-article .caption,
.post-article .caption p::after,
.footer-container {
    margin: 0 auto;
}
header.header {
    width: 100%;
    height: 22vh;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/marquee1-1553868734.jpg?crop=1.00xw:0.608xh;0,0.0462xh&resize=*:200");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.nav-section ul li{
    display: inline;
}
.nav-section .left :not(:last-child),
.nav-section .right :not(:last-child)     {
    padding-right: 25px;
}
.nav-section {
    padding: 20px 30px 20px 0;
    color: #666666;
    font-weight: 600;
}
.nav-section {
    width: 60%;
}
.nav-section .left {
    float: left;
}
.nav-section .left, li .right, li {
    font-size: 1.2vw;
}
@media only screen and (max-width: 980px) {
    /* For mobile phones: */
    /* 768px */
    .nav-section .left, li .right, li {
        font-size: 1.3vw;
    }
    .nav-section {
        margin: 0 auto;
    }
    .nav-section ul li{
        display: block;
    }
  }
.nav-section .right {
    float: right;
}
.main {
    width: 60%;
}
.top-article .article .image-box {
    width: 100%;
    height: 0;
    padding-top: 60%;
    background: pink;
    position: relative;
}
.top-article .article {
    padding: 0;
}
.main .top-article {
    margin-top: 40px;
}
.image-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.bottom {
    padding-top: 10px;
    font-size: 15px;
}
.bottom .number,
.bottom .text {
    float: left;
}
.text, h3 {
    font-size: 1.2vw;
}
.bottom .number::after {
    content: "";
    height: .5rem;
    width: .5rem;
    background: #fae54c;
    display: block;
    position: relative;
    margin-top: 3px;
    border-radius: 50%;
}
.bottom .number {
    width: 10%;
    font-weight: 600;
}
.bottom .text {
    width: 90%;
}
.video {
    position: relative;
}
.video .content {
    width: 100%;
    height: 0;
    padding-top: 60%;
    position: relative;
}
section.video {
    margin-top: 100px;
}
.video .content video {
    width: 97%;
    height: 100%;
    position: absolute ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.video-caption .caption {
    width: 100%;
    border: solid #5a75d0;
    padding: 30px;
}
.caption h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 43px;
}
.post-article .image {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    background: #fbc45d;
    overflow: hidden;
}
.post-article .image img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.post-article .caption p {
    margin-top: 10px;
    text-transform: uppercase;
    color: #5a75d0;
}
.post-article .caption p::after {
    content: "";
    height: .5rem;
    width: .5rem;
    background: #fae54c;
    display: block;
    position: relative;
    margin-top: 10px;
    border-radius: 50%;
}
.post-article {
    text-align: center;
}
.post-article h2 {
    font-family: 'Acme', sans-serif;
    font-size: 2vw;
    margin-bottom: 6px;
    margin-top: 10px;
}
.brand-1 .big-picture,
.brand-2 .big-picture {
    height: 0;
    padding-top: 50%;
    background: orange;
    position: relative;
}
.brand-1,
.brand-2 {
    margin-top: 2%;
    margin-bottom: 15%;
}
.big-picture .big-picture-caption {
    width: 80%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -25%;
    border: solid #fae54c;
    margin: auto;
    padding: 40px 40px 40px 40px;
    background: white;
    text-align: center
}
.big-picture .big-picture-caption h1 {
    text-decoration: underline;
    text-decoration-color: #fae54c;
    font-size: 3vw;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
footer {
    border-top: solid #555555 1px;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-container {
    width: 60%;
    font-size: 14px;
}
footer .lower-section p {
    font-size: 12px;
    line-height: 20px;
}